.project {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.photo {
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: black;
    color: white;
}

.photo:hover{
    cursor: pointer;
    opacity: 0.8;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    width: 100%;
    padding: 5px;
}

.title {
    font-size: 1.6rem;
    padding: 10px;
}

.description {
    background-color: rgba(128, 128, 128, 0.46);
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid black;
    font-size: 1.6rem;
}


@media (max-width: 560px) {
    .project {
        width: 80%;
    }
}
