@import '../../../common/mixins';
@import '../../../common/variables';

.item {
  @include flex($j:flex-start, $a: flex-start, $w: no-wrap, $g: 20px);
}

.icon {
  color: $mainColor;
  width: 4rem;
  height: 4rem;
}

.description {
  color: $textColor;
  font-size: 1.6rem;
}

.title {
  text-transform: uppercase;
  opacity: .8;
  font-weight: 400;
  padding-bottom: 0;
}

.subtitle {
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 20px;
}