@import '../../common/variables';
@import '../../common/mixins';

.button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: all .25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  border: 1px solid $mainColor;
  max-width: max-content;
}

.button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .25s ease-out
}

.button:hover:before {
  background-color: $mainColor;
  transform: translateX(0)
}


.text {
  position: relative;
  z-index: 2;
  transition: all .3s ease-out;
  color: $textColor;
}

.button:hover .text {
  color: $lightColor;

}

.icon {
  @include flex(row, center, center);
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 25px;
  height: 25px;
  padding: 15px;
  font-size: 1.5rem;
  color: $lightColor;
  border-radius: 50%
}