@import '../../common/mixins';
@import '../../common/variables';
@import '../../common/animation';

.block {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: $mainColor;
}

.wrapper {
  @include flex($j: flex-end, $a: center);
  @include full-size;
}

.photo {
  @include background('../../assets/photo_large.jpeg', top, cover);
  @include animate(fadeInRight, ease-in);
  display: block;
  position: fixed;
  flex: 0 0 auto;
  width: 40%;
  height: $photoHeight;
  border-radius: 30px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .9);
  z-index: 11;
}

.description {
  width: 50%;
}

.name {
  opacity: 0;
  position: relative;
  width: 80%;
  font-size: 5.1rem;
  line-height: 6.2rem;
  font-weight: 700;
  margin: 1.8rem 0 1.0rem;
  padding-left: 7rem;
  color: $mainColor;
  text-transform: uppercase;
  @include animate(fadeInLeft, easy-in);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
    background-color: $mainColor;
    box-sizing: border-box;
  }
}



.occupation {
  color: $textColor;
  text-transform: uppercase;
}

.details {
  opacity: 0;
  width: 80%;
  margin: 15px 80px 28px 0;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: $textColor;
  text-align: start;
  @include animate(fadeInLeft, ease-in-out, 0.5s);
}

@media (max-width: $fullWidth) {
  .name {
    padding: 0;
  }
  .name:before {
    display: none;
  }
  .details {
    max-width: 300px;
  }
}

@media (max-width: $largeWidth) {
  .block {
    display: none;
  }

  .wrapper {
    @include flex(column-reverse, center, center);
  }

  .photo {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    @include background("../../assets/photo_small.jpg", top, cover);
  }

  .description {
    width: 100%;
    padding: 0;
    @include flex(column, center, center);
  }

  .name {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 29px 0 13px;
  }

  .details {
    margin: 10px 0 23px;
    font-size: 1.5rem;
    line-height: 3.0rem;
    text-align: center;
  }
}

