@import '../../common/variables';
@import '../../common/mixins';

.wrapper {
  @include flex($a: flex-start, $w:no-wrap, $g: 20px);
}

.link {
  position: relative;
  z-index: 2;
}

.link::after,
.faBox::after {
  position: absolute;
  top: 100%;
  left: 50%;
  border-left: 1px solid $secondColor;
  content: "";
  height: 100px;
  z-index: -1;
}

.icon,
.faIcon {
  width: 3em;
  height: 2em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  object-fit: contain;
  line-height: 1;
  font-size: 2rem;
}

.faBox {
  @include flex(row-reverse, center, center);
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px 0 5px 10px;
  border-radius: 50%;
  background-color: $linkColor;
  cursor: pointer;
  z-index: 2;
}

.faIcon {
  padding: 1em;
  border-radius: 50%;
  color: $lightColor;
  background-color: $mainColor;
}

.year {
  display: inline-block;
  padding: 1px 10px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: $linkColor;
  opacity: .8;
  color: $textColor;
}

.position {
  margin: 7px 0 10px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $textColor;
}

.name {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: .8;
  padding-left: 26px;
}

.description {
  color: $textColor;
}