@import '../../common/mixins';
@import '../../common/animation';
@import '../../common/variables';

.wrapper {
  @include flex(column, $g: 15px);
  @include animate(fadeIn);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}


.box {
  @include flex($j: space-between, $a: flex-start);
}

.contactsList {
  @include flex(column, $g: 15px);
  width: 60%;
}

.societiesList {
  @include flex($g: 15px);
  width: 40%;
}


@media (max-width: $mediumWidth) {
  .box {
    @include flex(column, center, center);
  }

  .contactsList {
    width: 100%;
  }

  .societiesList {
    width: 100%;
  }
}