.container {
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.title {
    background-color: gray;
    margin: 0 auto 40px;
    font-size: 2.4rem;
    text-align: center;
}

.button {
    width: 100px;
    height: 30px;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 870px){
    .container {
        padding: 15% 2%;
    }
}

