.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

