@import './src/styles/mixins.scss';

.skills {
    background-color: lightgreen;
}

.wrapper {
    @include flex(column);
    width: 100%;
    border: 1px solid black;
}

.list {
    @include flex($j: space-between, $a: stretch);
    gap: 40px;
    width: 100%;
    border: 1px solid black;
}

.title {
    background-color: gray;
    margin: 0 auto 50px;
    font-size: 2.4rem;
}

@media (max-width: 560px) {
    .list {
       @include flex(column);
    }
}
