.container {
    background-color: lavender;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    border: 1px solid black;
}

@media (max-width: 560px) {
    .list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
