@import '../../../common/mixins';
@import '../../../common/variables';


.form {
  @include flex(column, $g: 5px);
  gap: 5px;
  width: 100%;
  max-width: 800px;
  margin: 0 0 30px 0;
}

.wrapper {
  @include flex($w: no-wrap, $g: 30px);
}

.fieldWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.6rem;
}

.errorMessage {
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, 0);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: $errorColor;
}

.name, .email, .subject, .textarea {
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 30px;
  border: 1px solid $secondColor;
  margin: 0;
  padding: 11px 26px;
  font-size: 1.3rem;
  font-family: inherit;
  background-color: transparent;
  color: $textColor;
  transition: all .3s;
}

.name::placeholder,
.email::placeholder,
.subject::placeholder,
.textarea::placeholder {
  text-transform: uppercase;
}

.name:focus,
.email:focus,
.subject:focus,
.textarea:focus {
  border: 1px solid $mainColor;
}

.textarea {
  resize: vertical;
}


@media (max-width: $mediumWidth) {
.wrapper {
  flex-direction: column;
  gap: 5px;
}
}

@media (max-width: $smallWidth) {
  .form {
    align-items: center;
  }
  .wrapper {
    width: 100%;
  }
}