.skill {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 30px;
}

.logo {
    width: 80px;
    height: 80px;
    background-color: white;
}

.title {
    font-size: 1.6rem;
}

.description {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid black;
    font-size: 1.6rem;
}

@media (max-width: 560px) {
    .skill {
        width: 80%;
    }
}
