@import './src/styles/mixins.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background-color: transparent;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themeSwitcher {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 103;
}

.nav {
  @include flex(column);
  gap: 10px;
  font-size: 1.6rem;
  padding: 10px;
}


@media (max-width: 990px) {
  .header {
    top: calc(100vh - 80px);
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 1vh;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 47px #dedede;
  }

  .nav {
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

