@import './src/styles/mixins.scss';

.footer {
    background-color: aquamarine;
}

.container {
    padding-bottom: 2%;
}

.wrapper {
    @include flex(column);
    width: 100%;
    border: 1px solid black;
}

.list {
    @include flex;
    gap: 40px;
    margin: 0 0 40px 0;
    border: 1px solid black;
    .item {
        background-color: gray;
        width: 60px;
        height: 60px;
    }
    .copyright {
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    .list {
        @include flex(column);
    }

    .item {
        width: 80px;
        height: 80px;
    }
}