@import '../../../common/mixins';
@import '../../../common/animation';
@import '../../../common/variables';

.container {
  max-width: 870px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  @include flex(column, $g: 20px);
  margin-top: 20px;
}

.title {
  text-align: left;
}

.infoList {
  @include flex(row, flex-start, center, wrap, 10px);
  width: 100%;
}


.item {
  @include flex(column, $j:center, $a: flex-start);
  width: 200px;
  opacity: .8;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.details {
  text-transform: initial;
  font-weight: 600;

}

.links {
  @include flex($j: space-between, $a: center);
  width: 100%;
}



@media (max-width: $mediumWidth) {
  .infoList {
    max-width: 500px;
    margin: 0 auto;
  }
  .links {
    flex-direction: column-reverse;
    gap: 20px
  }
}

@media (max-width: $smallWidth) {
  .codewarsImg {
    width: 100%;
  }
  .title {
    text-align: center;
  }
}


