$mainColor: #ffb400;
$secondColor: #ddd;
$textColor: #666;
$linkColor: #eee;
$lightColor: #fff;
$errorColor: red;
$boxShadowColor: rgba(0, 0, 0, 0.6);



$fullWidth : 1440px;
$largeWidth: 1000px;
$mediumWidth: 850px;
$smallWidth: 600px;
$extraSmallWidth: 450px;

$headerHeight : 80px;
$photoHeight : calc(100vh - 80px);

$projects-count: 9;