@import './src/styles/mixins';

.contacts {
  background: lightpink;
}

.wrapper {
  @include flex(column);
  width: 100%;
  border: 1px solid black;
}

.form {
  @include flex(column, stretch, stretch);
  gap: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 0 30px 0;
}

.name, .phone, .textarea {
  padding: 2px 5px;
  font-size: 1.3rem;
  font-family: inherit;
}

.textarea {
  resize: vertical;
}


